@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global renk değişkenleri */
:root {
  --primary-color: #0070f3;
  --secondary-color: #111;
  --background-color: #f0f0f0;
  --text-color: #333;
  --dark-background: #181818;
  --dark-text-color: #f0f0f0;
}

/* Genel stil ayarları */
html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  background-color: #f8f9fa; /* Nötr açık bir arka plan */
  color: var(--text-color); /* Okunabilirliği artırmak için koyu gri */
}

/* Bağlantı stilleri */
a {
  color: inherit;
  text-decoration: none;
  transition: color 0.2s ease;
}

a:hover {
  color: var(--primary-color); /* Hover mavi tonuyla */
}

/* Varsayılan kutu modeli */
* {
  box-sizing: border-box;
}

/* Karanlık tema ayarları */
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    background-color: var(--dark-background); /* Karanlık tema için arka plan */
    color: var(--dark-text-color); /* Okunabilirliği artıran açık gri yazı rengi */
  }

  a:hover {
    color: #66ccff; /* Karanlık temada daha açık bir mavi */
  }
}
