/* Genel ayarlar */


body {
  font-family: 'Inter', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

.container {
  padding: 0 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid var(--secondary-color);
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  color: var(--text-color);
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  color: var(--primary-color);
  text-decoration: none;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3.5rem;
  text-align: center;
  color: var(--primary-color);
}

.description {
  margin: 2rem 0;
  line-height: 1.5;
  font-size: 1.25rem;
  text-align: center;
  color: var(--text-color);
}

.code {
  background: #eaeaea;
  border-radius: 10px;
  padding: 1rem;
  font-size: 1.2rem;
  font-family: 'Fira Code', monospace;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  max-width: 1200px;
  width: 100%;
}

.card {
  padding: 2rem;
  background-color: white;
  color: var(--secondary-color);
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.card h2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.card p {
  font-size: 1.1rem;
  color: var(--text-color);
}

.logo {
  height: 1.5em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .main {
    padding: 2rem;
  }

  .title {
    font-size: 2.5rem;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--dark-background);
    color: var(--dark-text-color);
  }

  .footer {
    border-color: #444;
  }

  .card {
    background-color: #222;
    border-color: #444;
    color: var(--dark-text-color);
  }

  .code {
    background: #333;
    color: var(--dark-text-color);
  }

  .logo img {
    filter: invert(1);
  }
}
